<!-- <div class="w-full bg-black py-10 flex justify-center items-center">
  <img src="/assets/images/banner.png" alt="Imagen Principal Home" class="w-full max-w-5xl rounded-2xl shadow-xl object-cover">
</div> -->

<!-- <div class="relative w-full flex justify-center">
  <div class="w-full max-w-5xl">
    <img src="/assets/images/banner.png" alt="Imagen Principal Home" class="w-full object-cover">
    <div class="absolute bottom-0 left-0 w-full h-20 bg-gradient-to-t from-white to-transparent"></div>
  </div>
</div> -->

<!-- <div class="relative w-full flex justify-center">
  <div class="w-full max-w-5xl relative">
    <img src="/assets/images/banner.jpg" alt="Imagen Principal Home" class="w-full object-cover brightness-110 opacity-90 border border-gray-300 shadow-md">
    <div class="absolute inset-0 flex flex-col items-center justify-center text-black px-4">
      <h1 class="text-3xl md:text-5xl font-extrabold mb-4 drop-shadow-lg text-center">JRZService</h1>
      <a href="#contacto" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-6 py-3 rounded-full transition shadow-md">Contáctanos</a>
    </div>
    <div class="absolute bottom-0 left-0 w-full h-20 bg-gradient-to-t from-white to-transparent"></div>
  </div>
</div> -->

<div class="relative w-full flex justify-center">
  <div class="w-full max-w-5xl relative">
    <img src="/assets/images/banner.jpg" alt="Imagen Principal Home" class="w-full object-cover brightness-110 opacity-90 border border-gray-300 shadow-md">
    <!-- <div class="absolute inset-x-0 bottom-0 top-1/4 bg-gradient-to-t from-white/90 to-transparent flex flex-col items-center justify-end text-white px-4 pb-12">
      <h1 class="text-3xl md:text-5xl font-extrabold mb-4 drop-shadow-lg text-center">Soluciones Profesionales para tu Hogar y Empresa</h1>
      <a href="#contacto" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-6 py-3 rounded-full transition shadow-md">Contáctanos</a>
    </div> -->
    <div class="absolute bottom-0 left-0 w-full h-50 bg-gradient-to-t from-white to-transparent"></div>
    <div class="absolute inset-x-0 bottom-0 top-1/4 bg-gradient-to-t from-white/90 to-transparent flex flex-col items-center justify-end text-black px-4 pb-12">
      <h1 class="text-2xl md:text-5xl font-bold mb-4 drop-shadow-lg text-center">Soluciones Profesionales <br> para tu Empresa</h1>
      <a routerLink="/contact" class="bg-yellow-500 hover:bg-red-500 hover:text-white cursor-pointer text-black font-semibold px-6 py-3 rounded-full transition shadow-md">Contáctanos</a>
    </div>
  </div>
</div>

<!-- <div class="relative w-full flex justify-center">
  <div class="w-full max-w-5xl relative">
    <img src="/assets/images/banner.jpg" alt="Imagen Principal Home" class="w-full object-cover brightness-110 opacity-90 border border-gray-300 shadow-md">
    <div class="absolute inset-x-0 bottom-0  pb-16">
      <div class="bg-gradient-to-t from-white/90 to-transparent pt-24 pb-8 px-6 rounded-t-xl">
        <div class="flex flex-col items-center justify-end text-black animate-fade-up">
          <h1 class="text-3xl md:text-5xl font-extrabold mb-4 drop-shadow-lg text-center">Soluciones Profesionales para tu Hogar y Empresa</h1>
          <a href="#contacto" class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-6 py-3 rounded-full transition shadow-md">Contáctanos</a>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 left-0 w-full h-50 bg-gradient-to-t from-white to-transparent"></div>
  </div>
</div> -->


<section class="bg-yellow-400 text-center py-20 text-white">
  <div class="max-w-5xl mx-auto">
    <h1 class="text-4xl md:text-5xl font-bold">Diseño, montaje y mantenimiento de instalaciones eléctricas</h1>
    <p class="mt-4 text-2xl font-bold text-red-500">JRZService</p>
    <a href="tel:802023456789" class="mt-6 inline-block bg-black text-white px-6 py-3 rounded-full font-semibold">Llama Ahora: +51 991-237-428</a>
  </div>
</section>

<!-- servicios -->
 <section class="py-20 bg-white">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-extrabold text-gray-900 relative inline-block">
      Nuestros Servicios
      <span class="block w-20 h-1 bg-yellow-400 mx-auto mt-2"></span>
    </h2>
    <p class="text-gray-600 mt-4 text-lg">Explora nuestros servicios profesionales</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 max-w-6xl mx-auto px-6">
   <!-- plumbing -->
    <a routerLink="/services/plumbing" class="group relative block overflow-hidden rounded-xl shadow-lg hover:shadow-2xl transition">
      <img src="/assets/services/plumbing.jpeg" alt="Plumbing Services" class="w-full h-60 object-cover transform group-hover:scale-110 transition duration-500">
      <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex flex-col justify-end p-6">
        <div class="w-14 h-14 bg-yellow-400 rounded-full flex items-center justify-center mb-4">
          <svg class="w-6 h-6 text-black" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h4l3 8 4-16 3 8h4" />
          </svg>
        </div>
        <h3 class="text-xl font-bold text-white mb-1">Mantenimiento</h3>
        <!-- <p class="text-white text-sm">Fixing leaks, installations and more.</p> -->
      </div>
    </a>

    <!-- Electrical -->
    <a routerLink="/services/electrical" class="group relative block overflow-hidden rounded-xl shadow-lg hover:shadow-2xl transition">
      <img src="/assets/services/electrical.jpeg" alt="Electrical Services" class="w-full h-60 object-cover transform group-hover:scale-110 transition duration-500">
      <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex flex-col justify-end p-6">
        <div class="w-14 h-14 bg-yellow-400 rounded-full flex items-center justify-center mb-4">
          <svg class="w-6 h-6 text-black" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
        </div>
        <h3 class="text-xl font-bold text-white mb-1">Ejecución de proyectos eléctricos</h3>
        <!-- <p class="text-white text-sm">Wiring, sockets, lights and more.</p> -->
      </div>
    </a>

    <!-- Renovation -->
    <a routerLink="/services/renovation" class="group relative block overflow-hidden rounded-xl shadow-lg hover:shadow-2xl transition">
      <img src="/assets/services/renovation.jpeg" alt="Renovation" class="w-full h-60 object-cover transform group-hover:scale-110 transition duration-500">
      <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex flex-col justify-end p-6">
        <div class="w-14 h-14 bg-yellow-400 rounded-full flex items-center justify-center mb-4">
          <svg class="w-6 h-6 text-black" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405M16.6 13.2A3.002 3.002 0 0115 17h-3a3 3 0 01-3-3v-4a3 3 0 013-3h4a3.002 3.002 0 012.6 1.6" />
          </svg>
        </div>
        <h3 class="text-xl font-bold text-white mb-1">Servicios de ingeniería</h3>
        <!-- <p class="text-white text-sm">Interior and exterior improvements.</p> -->
      </div>
    </a>
  </div>

  <div class="flex justify-center mt-10">
    <a routerLink="/services" class="bg-yellow-500 hover:bg-red-500 hover:text-white cursor-pointer text-black font-semibold px-6 py-3 rounded-full transition shadow-md text-center">Explorar</a>
  </div>
 </section>

<!-- Success Rate -->
<section class="bg-black text-white py-16">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl font-bold mb-10">Nuestra tasa de éxito</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <p class="text-4xl font-extrabold">410+</p>
        <p class="text-lg">Proyectos Realizados</p>
      </div>
      <div>
        <p class="text-4xl font-extrabold">90%</p>
        <p class="text-lg">Clientes Satisfechos</p>
      </div>
      <div>
        <p class="text-4xl font-extrabold">6+</p>
        <p class="text-lg">Expertos Profesionales</p>
      </div>
    </div>
  </div>
</section>

<!-- Book Online -->
 <section class="py-20 bg-gray-100">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-extrabold text-gray-900 relative inline-block">
      Hable con nosotros
      <span class="block w-20 h-1 bg-yellow-400 mx-auto mt-2"></span>
    </h2>
    <p class="text-gray-600 mt-4 text-lg font-bold">Cómo podemos ayudarle</p>
  </div>
  <div class="max-w-3xl mx-auto px-4">
    <form
      action="https://formsubmit.co/eviespi@gmail.com" method="POST"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="bg-white rounded-xl shadow-xl p-8 grid gap-6">
      <input
        formControlName="name"
        type="text"
        placeholder="Ingrese sus nombres"
        class="p-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400"
        required=""
      >
      <input
        formControlName="email"
        type="email"
        placeholder="Su correo electrónico"
        class="p-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400"
        required
      >
      <input
        formControlName="phone"
        type="tel"
        placeholder="Su número de teléfono"
        class="p-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400"
        required
      >
      <textarea
        formControlName="message"
        rows="4"
        placeholder="Su consulta"
        class="p-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-yellow-400"
      ></textarea>
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_template" value="box">
      <button
        type="submit"

        class="bg-yellow-400 text-black px-6 py-3 rounded-full font-semibold hover:bg-red-500 hover:text-white hover:cursor-pointer transition"
      >
        Enviar
      </button>
    </form>
    <p *ngIf="successMessage" class="mt-6 text-green-600 font-semibold text-center">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="mt-6 text-red-600 font-semibold text-center">{{ errorMessage }}</p>
  </div>
 </section>

 <!-- Nuestros clientes -->
  <section class="py-20 bg-white">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-extrabold text-gray-900 relative inline-block">
      Nuestros Clientes
      <span class="block w-24 h-1 bg-red-500 mx-auto mt-2"></span>
    </h2>
    <p class="text-gray-600 mt-4 text-lg">Lo que dicen nuestros clientes sobre nosotros</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 max-w-6xl mx-auto px-6">
    <div class="bg-gray-100 rounded-xl shadow-lg p-6 hover:shadow-xl transition text-center">
      <img src="/assets/clients/customer-01.png" alt="Sarah" class="w-40 h-40 rounded-full mx-auto mb-4 object-cover border-4 border-yellow-400">
      <!-- <p class="text-gray-700 italic">“Quick Service, Great Workmanship!”</p> -->
      <p class="mt-4 font-semibold text-gray-900">Aeropuertos Andinos</p>
    </div>
    <div class="bg-gray-100 rounded-xl shadow-lg p-6 hover:shadow-xl transition text-center">
      <img src="/assets/clients/customer-02.jpg" alt="David" class="w-40 h-40 rounded-full mx-auto mb-4 object-cover border-4 border-yellow-400">
      <!-- <p class="text-gray-700 italic">“Affordable prices, excellent quality.”</p> -->
      <p class="mt-4 font-semibold text-gray-900">Graña y Montero</p>
    </div>
    <div class="bg-gray-100 rounded-xl shadow-lg p-6 hover:shadow-xl transition text-center">
      <img src="/assets/clients/customer-03.png" alt="Monica" class="w-40 h-40 rounded-full mx-auto mb-4 object-cover border-4 border-yellow-400">
      <!-- <p class="text-gray-700 italic">“Friendly staff and clean work!”</p> -->
      <p class="mt-4 font-semibold text-gray-900">Minera Volcán</p>
    </div>
    </div>
  </section>
